$font-stack: Helvetica, sans-serif
$primary-color: #000000
$nav-color-bg: #EF6C00
$white-text: white
$small-screen: "only screen and (min-device-width: 320px) and (max-device-width: 480px)"
$desktop-screen: "only screen and (min-device-width: 1200px) and (max-device-width: 1600px)"

body
    font: 100% $font-stack
    color: $primary-color
    position: relative
    margin: 0px

div.rectangle
    position: relative
    margin: 0 auto
    width: 100px
    height: 100px

    div
        display: inline-block
        background-color: blue
        position: absolute

.center
    width: 800px
    margin: 0 auto

.draw-aria
    padding: 20px

.pie-tooltip
    position: absolute
    width: 80px
    padding: 10px
    display: none
    pointer-events: none

    > div
        padding: 10px

    .color
        display: table-cell
        padding: 10px
    .description
        color: white
        padding: 0 5px
        display: table-cell

.pie-tooltip.show
    display: block
